span.error {
    display: block;
    color: red;
}

div#cardsbox {
    display: flex;
}

.card-js {
    padding: 15px;
    border-radius:4px;
    display: flex;
    flex-wrap:wrap;
    max-width: 200px;
    justify-content: center;
    background: #c4c4c4;
    margin-right: 20px;
}
.card-js:last-child{
    margin-right:0;
}
.card-js h1 {
    word-break: break-all;
}
button {
    transition:all .3s ease;
    background-color: transparent;
    border: none;
}

.card-js h1,
.card-js p,
.card-js input{
    width:100%;
}
.card-js i {
    display: inline-block;
    cursor:pointer;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
.card-js input[type="checkbox"] {
    margin: 10px 0;
}
.card-js i:last-child{
    margin-right:0;
}
label {
    margin-right:10px;
}
input[data-edit="title"] {
    height:48px;
    font-size:40px;
    font-weight:500;
    margin-bottom:.5rem;
}

input[data-edit="title"]:focus {
    outline: none;
}
input[data-edit="text"] {
    margin-bottom:1rem;
}
input[data-edit="title"],
input[data-edit="text"] {
    background: transparent;
    border: none;
}
